 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    .login-form {
      width: 385px;
      margin: 30px auto;
    }
    .login-form form {
      margin-bottom: 15px;
      background: #f7f7f7;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
    }
    .login-form h2 {
      margin: 0 0 15px;
    }
    .form-control, .login-btn {
      min-height: 38px;
      border-radius: 2px;
    }
    .input-group-addon .fa {
      font-size: 18px;
    }
    .login-btn {
      font-size: 15px;
      font-weight: bold;
    }
    .social-btn .btn {
      border: none;
      margin: 10px 3px 0;
      opacity: 1;
    }
    .social-btn .btn:hover {
      opacity: 0.9;
    }
    .social-btn .btn-primary {
      background: #507cc0;
    }
    .social-btn .btn-info {
      background: #64ccf1;
    }
    .social-btn .btn-danger {
      background: #df4930;
    }
    .or-seperator {
      margin-top: 20px;
      text-align: center;
      border-top: 1px solid #ccc;
    }
    .or-seperator i {
      padding: 0 10px;
      background: #f7f7f7;
      position: relative;
      top: -11px;
      z-index: 1;
    }
  </style>
  </head>
  <body>
  <div class="login-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <h2 class="text-center">Sign in</h2>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input class="form-control" autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email" placeholder="Email address">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input class="form-control" autocomplete="current-password" type="password" name="user[password]" id="user_password" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary login-btn btn-block">Sign in</button>
      </div>
      <div class="clearfix">
        <input name="user[remember_me]" type="hidden" value="0">
        <label class="pull-left checkbox-inline"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me"> Remember me</label>
      </div>
      <div class="or-seperator"><i>or</i></div>
      <div class="text-center social-btn">
        <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i>&nbsp; Facebook</a>
      </div>
    <% end %>
    <p class="text-center text-muted small">Don't have an account? <a href="/users/sign_up">Sign up here!</a></p>
  </div>