<form class="form-inline my-2 my-lg-0" action="/users/sign_in">
  <button type="submit" class="btn" style="margin-right:30px; color:rgb(40, 167, 69); background-color: #f8f9fa">Sign in</button>
</form>

<form class="form-inline my-2 my-lg-0" action="/users/sign_up">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Get started</button>
</form>